[Desktop Entry]
Name=Goemon64Recompiled
Type=Application
Terminal=false
Icon=Goemon64Recompiled
Exec=Goemon64Recompiled
GenericName=Goemon64Recompiled
Categories=Game;

